<script lang="ts">
    import Page from "../components/Page.svelte";
    import workHistory from "../data/work_history.json";
    import projects from "../data/oss.json";
    import Resume from "../components/Resume.svelte";
    let name = 'Sean Fitzgerald';
    let skillSet = new Set();
    workHistory.forEach(function (item, _) {
       item.projects.forEach(function(project, _) {
           project.technologies.forEach(function(tech, _) {
               skillSet.add(tech);
           });
       });
    });
    const skills = Array.from(skillSet);
</script>

<Page title="seanfitz - home"
      {name}
      profileImage="img/profile.png">
<Resume {name} {skills} {workHistory} {projects}/>
</Page>