<script lang="ts">
    import Page from "../components/Page.svelte";
    import Life from "../components/Life.svelte";
    let name = 'Sean Fitzgerald';
</script>

<Page title="seanfitz - Conway's Game of Life"
      {name}
      profileImage="img/profile.png">
    <Life scale="25"/>
</Page>