<script>

    import workHistory from '../data/work_history.json';
    import projects from "../data/oss.json";
    import Resume from "../components/Resume.svelte";
    let name = "Sean Fitzgerald";
    let skills = new Set();
    workHistory.forEach(function (item, _) {
       item.projects.forEach(function(project, _) {
           project.technologies.forEach(function(tech, _) {
               skills.add(tech);
           });
       });
    });
    skills = Array.from(skills);
</script>
<Resume {name} {skills} {workHistory} {projects}/>
