<script>
    import {Collapse, Navbar, NavbarToggler, Styles} from "sveltestrap";

    export let name;

    let isOpen = false;

    function handleUpdate(event) {
        isOpen = event.detail.isOpen;
    }
</script>
<Styles/>

<style>
    .profile-section .profile-image {
	max-width: 160px;
}

.text-center {
	text-align: center !important;
}

a.no-text-decoration {
    text-decoration: none;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: #54b689;
    color: #fff;
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) #54b689;
    scrollbar-width: thin;
}
.header::-webkit-scrollbar {
    width: 6px;
    background-color: #54b689;
}
.header::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
.header .blog-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}
.header .blog-name a {
    color: #fff;
}
.header .blog-name a:hover {
    text-decoration: none;
}
.header .btn-primary {
    background: rgba(0, 0, 0, 0.3);
    border-color: transparent;
    font-size: 1rem;
}
.header .btn-primary:hover {
    background: rgba(0, 0, 0, 0.4);
    border-color: transparent;
}
.header .navbar {
    padding: 1.5rem 1rem;
}
.header .navbar-toggler:focus {
    box-shadow: none;
}
.header .navbar-dark .navbar-toggler {
    border-radius: 2px;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 0.25rem 0.6rem;
}
.header .navbar-dark .navbar-toggler:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.header .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.header .nav-item {
    font-weight: bold;
}
.header .nav-item .nav-link.active {
    color: rgba(0, 0, 0, 0.5);
}
.header .nav-item .nav-link.active:hover {
    text-decoration: none;
}
.header .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
}
.header .nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.6);
}
.header .nav-item .nav-link[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.5);
}
.header .nav-item .dropdown-menu {
    position: static;
    background: #48a97c;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.header .nav-item .dropdown-menu .dropdown-item {
    color: #fff;
    padding: 0.5rem;
    font-size: 0.875rem;
    padding-left: 2.25rem;
    font-weight: bold;
}
.header .nav-item .dropdown-menu .dropdown-item:hover,
.header .nav-item .dropdown-menu .dropdown-item:active,
.header .nav-item .dropdown-menu .dropdown-item:focus,
.header .nav-item .dropdown-menu .dropdown-item.active {
    background: #40976f;
}

.navbar-collapse {
	flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.flex-column {
	flex-direction: column !important;
}

div.force-overflow {
	display: block;
}

.main-wrapper {
    margin-left: 280px;
    background: #fff;
}
.main-wrapper .container-single-col {
    max-width: 820px;
}

@media (min-width: 992px) {
    .profile-teaser .profile-image {
        max-width: 250px;
    }
    .blog-list .post-thumb {
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .profile-teaser .profile-image {
        max-width: 400px;
    }
    .blog-list .post-thumb {
        max-width: 150px;
    }
}
@media (max-width: 991.98px) {
    .header {
        position: static;
        width: inherit;
        height: auto;
    }
    .header .blog-name {
        width: 100%;
        position: absolute;
        left: 0;
        top: 1.2rem;
    }
    .header .btn-primary {
        width: 100%;
    }
    .header .navbar {
        padding: 1rem;
    }
    .main-wrapper {
        margin-left: 0;
    }
}
@media (max-width: 767.98px) {
    .signup-form .form-group {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .signup-form .form-control {
        width: 100%;
    }
    .signup-form .btn-primary {
        width: 100%;
    }
    .profile-teaser .profile-image {
        max-width: 250px;
    }
    .header .nav-item .dropdown-menu .dropdown-item {
        padding-left: 1.875rem;
    }
    .mobile-is-hidden {
        display: none;
    }
}
@media (max-width: 575.98px) {
    .header .nav-item .dropdown-menu .dropdown-item {
        padding-left: 1.875rem;
    }
    .link-mask {
        display: none !important;
    }
    .mobile-is-hidden {
        display: none;
    }
}
</style>


<header class="header text-center">
    <div class="force-overflow">
        <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration"
                                              href="/">{name}</a></h1>
        <Navbar color="green" dark expand="lg">
            <NavbarToggler on:click={() => (isOpen = !isOpen)}/>
            <Collapse isOpen={isOpen} navbar expand="lg"
                      on:update={handleUpdate} class="flex-column" light>
                <slot></slot>
            </Collapse>
        </Navbar>
    </div>
</header>

