<script>
    import HeaderSidebar from "./HeaderSidebar.svelte";
    import ProfileCard from "./ProfileCard.svelte";

    export let title;
    export let name;
    export let profileImage;
</script>

<style>
.main-wrapper {
    margin-left: 280px;
    background: #fff;
}
.main-wrapper .container-single-col {
    max-width: 820px;
}

    @media (max-width: 991.98px) {
        .main-wrapper {
            margin-left: 0px;
        }
    }
</style>

<svelte:head><title>{title}</title></svelte:head>
<HeaderSidebar name={name}>
    <ProfileCard profileImage={profileImage}/>
</HeaderSidebar>
<div class="main-wrapper">
    <slot></slot>
</div>