<script>
    import {Icon} from "sveltestrap";

    export let profileImage;
</script>
<style>
.profile-section .profile-image {
    max-width: 160px;
}
.profile-section .bio {
    font-size: 0.875rem;
}
.profile-section .bio a {
    color: #fff;
    text-decoration: underline;
}
.profile-section .bio a:hover {
    color: rgba(0, 0, 0, 0.6);
}
.social-list a {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: none;
}
.social-list a:hover,
.social-list a:focus {
    color: #40976f;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.4s ease-in-out;
}
</style>
<div class="profile-section pt-3 pt-lg-0">
    <img class="profile-image mb-3 rounded-circle mx-auto"
         src="{profileImage}"/>
    <div class="bio mb-3">
        Hi, I'm seanfitz and I'm a software engineer. I live in Seattle with my wife, two daughters, three dogs, and two cats in our (probably haunted) house.
    </div>
    <ul class="social-list list-inline p-2 mx-auto">
        <li class="list-inline-item"><a target="_blank" href="https://github.com/clusterfudge"><Icon name="github"/></a></li>
        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/%F0%9F%92%BE-sean-fitzgerald-5213964/"><Icon name="linkedin"/></a></li>
        <li class="list-inline-item"><a target="_blank" href="/resume.html"><Icon name="file-text"/></a></li>
        <li class="list-inline-item"><a href="/life"><Icon name="controller"/></a></li>
    </ul>
    <hr/>
</div>
