<script>
	import {Col, Container, Icon, Row, Styles} from "sveltestrap";

    export let name;
    export let workHistory;
    export let projects;
    export let skills;
</script>
<Styles/>

<main>
    <Container px="3" px-lg="5" class="resume-container">
        <article
                class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

            <div class="resume-header">
                <Row class="align-items-center">
                    <div class="resume-title col-12 col-md-8 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">{name}</h2>
                        <div class="resume-tagline mb-3 mb-md-0">Software Engineer</div>
                    </div><!--//resume-title-->
                    <div class="resume-contact col-12 col-md-4 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><Icon name="phone"/> <a
                                    class="resume-link" href="tel:6505034223">(650) 503-4223</a></li>
                            <li class="mb-2"><Icon name="mailbox"/> <a
                                    class="resume-link" href="mailto:recruiters@fitzgeralds.me">recruiters@fitzgeralds.me</a>
                            </li>
                            <li class="mb-2"><Icon name="globe"/> <a
                                    class="resume-link" href="https://sean.fitzgeralds.me">sean.fitzgeralds.me</a>
                            </li>
                            <li class="mb-0"><Icon name="geo-alt"/> Seattle</li>
                        </ul>
                    </div><!--//resume-contact-->
                </Row><!--//row-->

            </div><!--//resume-header-->
            <hr>
            <div class="resume-intro py-3">
                <Row class="align-items-center">
                    <Col md="3" xl="2" class="col-12 text-center">
                        <img class="resume-profile-image rounded-circle mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto"
                             src="img/resume-profile-sm.png" alt="image">
                    </Col>

                    <Col class="text-start">
                        <p class="mb-0">
                            I'm Sean Fitzgerald (aka seanfitz), and I'm a software engineer. Over the last 15+ years, I've worked at startups,
                            big tech companies, social networks, and now in fintech. I primarily work in the shadows (i.e. operations, backend, or infrastructure),
                            but know enough to be gleefully hazardous on the front end. I believe that the best way to create products is to explore
                            and experiment. I also believe that good infrastructure should be reliable to the point of transparency. If you are building a product,
                            <b>be tinkering</b>. If you are building a platform or infrastructure, <b>enable tinkering</b>.
                        </p>
                    </Col><!--//col-->
                </Row>
            </div><!--//resume-intro-->
            <hr>
            <div class="resume-body">
                <Row>
                    <Col lg="8" xl="9"
                         class="resume-main col-12 pe-0   pe-lg-5">
                        <section class="work-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">
                                Work Experience</h3>
                            {#each workHistory as job, i}
                                <div class="item mb-3">
                                    <Row class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{job.title}</h4>
                                        <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">{job.employer}
                                            | {job.start_date} - {job.end_date || 'Present'}</div>

                                    </Row>
                                    <div class="item-content">
                                        {#each job.projects as project, j}
                                            <p>
                                                <span class="project-title">{project.title}</span>
                                                <br/>
                                                <span class="project-description">{project.description}</span>
                                            </p>
                                        {/each}
                                    </div>
                                </div><!--//item-->
                            {/each}

                        </section><!--//work-section-->


                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">
                                Projects</h3>
                            {#each projects as project, i}
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                                        {project.title}</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        Open Source
                                    </div>
                                </div>
                                <div class="item-content">
                                    <p>{project.description}</p>
                                    <a target="_blank" href="{project.link}" class="resume-link">On {project.link_description}</a>

                                </div>
                            </div><!--//item-->
                            {/each}
                        </section><!--//project-section-->
                    </Col><!--//resume-main-->
                    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">
                                Skills</h3>
                            <div class="item">
                                <h4 class="item-title">Technical</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    {#each skills as skill,i}
                                    <li class="mb-2">{skill}</li>
                                    {/each}
                                </ul>
                            </div><!--//item-->
                            <div class="item">
                                <h4 class="item-title">Professional</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">Planning & Prioritization</li>
                                    <li class="mb-2">Human</li>
                                    <li class="mb-2">Mediocre Humorist
                                    <li>Generally OK</li>
                                </ul>
                            </div><!--//item-->
                        </section><!--//skills-section-->
                        <section class="education-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">
                                Education</h3>
                            <ul class="list-unstyled resume-education-list">
                                <li class="mb-3">
                                    <div class="resume-degree font-weight-bold">
                                        BS in Computer Science
                                    </div>
                                    <div class="resume-degree-org text-muted">
                                        Gonzaga University
                                    </div>
                                    <div class="resume-degree-time text-muted">
                                        2002 - 2006
                                    </div>
                                </li>
                            </ul>
                        </section><!--//education-section-->
                        <section class="education-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">
                                Awards</h3>
                            <ul class="list-unstyled resume-awards-list">
                                <li class="mb-3">
                                    <div class="font-weight-bold">Sun Cool Apps Grand Prize
                                    </div>
                                    <div class="text-muted">Sun Microsystems (2006)
                                    </div>
                                </li>
                            </ul>
                        </section><!--//education-section-->
                        <section class="education-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">
                                Lectures</h3>
                            <ul class="list-unstyled resume-awards-list">
                                <li class="mb-3">
                                    <div class="font-weight-bold">
                                        Genetic Algorithms as a Means for Structural Optimization
                                    </div>
                                    <div class="text-muted">
                                        Pacific Northwest Mathematics Association of America Conference, Spring 2005
                                    </div>
                                </li>
                                <li class="mb-3">
                                    <div class="font-weight-bold">
                                        Multi-Level Hybrid Clusters
                                    </div>
                                    <div class="text-muted">
                                        The Spokane Intercollegiate Research Conference, Spring 2006
                                    </div>
                                </li>
                            </ul>
                        </section><!--//education-section-->
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">
                                Interests</h3>
                            <ul class="list-unstyled resume-interests-list mb-0">
                                <li class="mb-2">Tennis</li>
                                <li class="mb-2">Tae Kwon Do</li>
                                <li class="mb-2">Sarcasm</li>
                            </ul>
                        </section><!--//certificates-section-->

                    </aside><!--//resume-aside-->
                </Row><!--//row-->
            </div><!--//resume-body-->
            <hr>
            <div class="resume-footer text-center">
                <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                    <li class="list-inline-item mb-lg-0 me-3">
						<a class="resume-icon" href="https://github.com/clusterfudge">
							<Icon name="github" class="me-2-lg"/>
						</a>
                    </li>
                    <li class="list-inline-item mb-lg-0 me-3">
						<a class="resume-icon" href="https://www.linkedin.com/in/%F0%9F%92%BE-sean-fitzgerald-5213964/">
							<Icon name="linkedin" class="me-2-lg"/>
						</a>
                    </li>
                </ul>
            </div><!--//resume-footer-->
        </article>

    </Container><!--//container-->
</main>

<style>
    .resume-wrapper {
        border: 1px solid rgba(0, 0, 0, 0.025);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }

    .resume-container {
        max-width: 1140px;
    }

    .resume-section-heading {
        position: relative;
        padding-left: 1rem;
        font-size: 1.125rem;
        letter-spacing: 0.15rem;
        color: #54b689;
    }

    .resume-section-heading:before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 100%;
        background: #54b689;
        position: absolute;
        left: 0;
        top: 0;
    }

    .resume-name {
        font-size: 2.75rem;
        font-weight: 900;
        letter-spacing: 0.4rem;
        color: #54b689;
    }

    .resume-tagline {
        font-size: 1.25rem;
        font-weight: 300;
    }

    .resume-contact {
        border-left: 1px solid rgba(0, 0, 0, 0.08);
        font-size: 0.75rem;
    }

    a.resume-link {
        color: #4f4f4f;
        font-size: 0.75rem;
    }

    a.resume-link:hover {
        color: #54b689;
    }

    a.resume-icon {
        color: #4f4f4f;
        font-size: 1.5rem;
    }

    a.resume-icon:hover {
        color: #54b689;
    }

    .resume-profile-image {
        max-width: 120px;
    }

    .resume-intro {
        font-size: 0.875rem;
    }

    .resume-main .item-title {
        font-size: 1rem;
    }

    .resume-main .item-meta {
        font-size: 0.75rem;
    }

    .resume-main .item-content {
        font-size: 0.875rem;
    }

    .resume-aside {
        border-left: 1px solid rgba(0, 0, 0, 0.08);
    }

    .resume-aside .item {
        font-size: 0.875rem;
    }

    .resume-aside .item-title {
        font-size: 1rem;
    }

    .resume-education-list,
    .resume-awards-list {
        font-size: 0.875rem;
    }

    .resume-degree-time-org,
    .resume-degree-time {
        font-size: 0.75rem;
    }

    .resume-lang-list,
    .resume-interests-list {
        font-size: 0.875rem;
    }

    .resume-social-list {
        font-size: 0.75rem;
    }

    .theme-bg-light {
        background: #fafafa !important;
    }

    .resume-list {
        border: none;
    }
    .resume-list .list-group-item:hover {
        border-top: none;
        border-bottom: none;
    }

    @media (max-width: 991.98px) {
        .resume-aside {
            border-left: 0;
        }
    }

    @media (max-width: 767.98px) {
        .resume-contact {
            border-left: 0;
        }
    }

    .project-title {
        text-decoration: underline;
    }
    .project-title:hover {
        color: #40976f;
    }
</style>